<div {{ '{{ attributes }}' }}>
  {{ '{# ' }}Keep the outer div whenever possible it is a nice way to ensure the presence of "attributes" {{ '#}' }}
  {{ '{% ' }}block example_block {{ '%}' }}
    The contents of the example block
  {{ '{% ' }}endblock {{ '%}' }}
</div>
