{{ '{#' }}
/**
 * @file
 * Default theme implementation to display {{ theme_key }}.
 *
 * Available variables:
 * - foo: Foo variable description.
{% if create_preprocess %}
 *
 * @see template_preprocess_{{ theme_key }}()
{% endif %}
 *
 * @ingroup themeable
 */
{{ '#}' }}
<div class="wrapper-class">
  {{ '{{' }} foo {{ '}}' }}
</div>
