{{ '{#' }}
/**
 * @file
 * Default theme implementation to display something.
 *
 * Available variables:
 * - foo: Foo variable description. 
{% if create_preprocess %}
 *
 * @see template_preprocess_{{ template_name|h2u }}()
{% endif %}
 *
 * @ingroup themeable
 */
{{ '#}' }}
<div class="wrapper-class">
  {{ '{{' }} foo {{ '}}' }}
</div>
